@using TPLOCAL1.Models
@model Formulaire


<head>
    <link rel="stylesheet" href="~/resources/Form.css" />
    <title>Formulaire</title>
</head>


<body>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
    <header>
        <h1>Formulaire</h1>
    </header>

    <br>

    <nav>
        <ul>
            <li><a href="/Home/Index/Index">Accueil</a></li>
            <li><a href="/Home/Index/AvisList">Liste des avis</a></li>
        </ul>
    </nav>

    <section>
        <form asp-action="Validation" method="post">
        <table class="tg">
            <thead>
                <tr>
                    <th colspan="2">Informations personnelles</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td>Nom</td>
                    <td>
                        <input type="text" asp-for="Nom" asp-validation-for="Nom" placeholder="Martin">
                        <span asp-validation-for="Nom" class="erreur"></span>
                    </td>
                    
                </tr>
                    
                <tr>
                    <td>Prénom</td>
                    <td>
                        <input type="text" asp-for="Prenom" asp-validation-for="Prenom" placeholder="Dupont">
                        <span asp-validation-for="Prenom" class="erreur"></span>
                    </td>
                </tr>
                <tr>
                    <td>Sexe</td>
                    <td>
                        <select asp-for="Sexe" asp-validation-for="Sexe">
                            <option value="selectionSexe">Selectionner un sexe</option>
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                            <option value="Autre">Autre</option>
                        </select>
                        <span asp-validation-for="Sexe" class="erreur"></span>
                    </td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td>
                        <input type="text" asp-for="Adresse" asp-validation-for="Adresse" placeholder="1 rue de la rue">
                        <span asp-validation-for="Adresse" class="erreur"></span>
                    </td>
                </tr>
                <tr>
                    <td>Code postal</td>
                    <td>
                        <input type="text" asp-for="Code" asp-validation-for="Code" placeholder="00000">
                        <span asp-validation-for="Code" class="erreur"></span>
                    </td>
                </tr>
                <tr>
                    <td>Ville</td>
                    <td>
                        <input type="text" asp-for="Ville" asp-validation-for="Ville" placeholder="Paris">
                        <span asp-validation-for="Ville" class="erreur"></span>
                    </td>
                </tr>
                <tr>
                    <td>Adresse mail</td>
                    <td>
                        <input type="text" asp-for="Mail" asp-validation-for="Mail" placeholder="martindupont@mail.dom">
                        <span asp-validation-for="Mail" class="erreur"></span>
                    </td>
                    
                </tr>
            </tbody>
        </table>

        <table class="tg">
            <thead>
                <tr>
                    <th colspan="2">Informations sur la formation suivie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date de début de formation</td>
                    <td>
                        <input type="date" asp-for="DateDebut" asp-validation-for="DateDebut" min="2021-01-01">
                        <span asp-validation-for="DateDebut" class="erreur"></span>
                    </td>
                </tr>
                <tr>
                    <td>Formation suivie</td>
                    <td>
                        <select asp-for="Formation" asp-validation-for="Formation">
                            <option value="selectionFormation">Selectionner une formation</option>
                            <option value="COBOL">Formation COBOL</option>
                            <option value="CSharp">Formation C#</option>
                            <option value="Autre">Autre formation</option>
                        </select>
                        <span asp-validation-for="Formation" class="erreur"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="tg">
            <thead>
                <tr>
                    <th colspan="2">Avis sur la formation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Formation COBOL</td>
                    <td>
                        <input type="text" asp-for="AvisCOBOL" asp-validation-for="AvisCOBOL">
                        <span asp-validation-for="AvisCOBOL" class="erreur"></span>
                    </td>
                </tr>
                <tr>
                    <td>Formation C#</td>
                    <td>
                        <input type="text" asp-for="AvisCSharp" asp-validation-for="AvisCSharp">
                        <span asp-validation-for="AvisCSharp" class="erreur"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <input class="Submit" type="Submit" />
        </form>
        
    </section>

</body>
